<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="algonquin.cst2335.buildingblockshr">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/bbhr_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/hr_widget"
        android:supportsRtl="true"
        android:theme="@style/Theme.BuildingBlocksHR">
        <activity
            android:name=".VacationActivity"
            android:exported="false" />
        <activity
            android:name=".BenefitsActivity"
            android:exported="false" />
        <activity
            android:name=".PolicyActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>